body {
    margin: 0;
}

.header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
}

.qqq:hover {
    transform: scale(0.8);
    transition: transform 0.2s linear;
}

.assdiv {
    width: 1000px;
    height: 1000px;
    transition: transform 0.3s;
}

.assdiv:hover {
    transform: translate(400px, 400px) scale(2) rotate(0deg);
}

.divs {
    width: 350px;
    height: 250px;
}

.divs:active {
    transform: scale(2);
    transition: transform 0.2s linear;
}
